body{
  background-color: black;
  color: aliceblue;
}
*{
  margin: 0px;
  padding: 0px;
}
button {
  background-color: #0077ff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  /*transition: background-color 0.5s ease-out;*/
  transition: all 0.5s ease-out 1s;
}
button:hover {
  background-color: rgb(255, 140, 0);
  color: black;
}

.box {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-color: blue;
  /*transition: all 1s ease-out;
  transition: all 1s;
  transition: width 3s;
  transition: all 1s ease;
  transition: all 1s linear;
  transition: all 1s steps(5);*/
  transition: width 10s ease-out, height 5s ease-out;
}
.box:hover {
  width: 200px;
  height: 200px;
  background-color: red;
}

a{
  text-decoration: none;
  color: rgb(11,163,110);
  margin: 20px;
  font-size: 24px;
}

a span{
  transition: all 1s;
}

a span:hover{
  text-transform: capitalize;
  color: darkblue;
}

.box1 {
  margin: 100px;
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  transform: rotate(45deg) scale(1.5);
  }